/* secondary body color #F5F4FA */
/* secondary text color  #212121*/
/* white #FFFFFF */
/* accent #2196F3 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
}

.list {
  list-style: none;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
  color: #757575;
  font-style: normal;
}

/* logo  */

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19px;
  color: #000000;
}

.logo .blue {
  color: #2196f3;
}

/* button */

button {
  font-family: inherit;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
}

.button {
  color: white;
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}

.button .primary {
  background-color: var(--accent-color);
  color: white;
}

.filtr:hover,
.filtr:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.filtr {
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.filtr .btn {
  background-color: #2196f3;
}
