
/* site nav */
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-adress .link:hover,
.site-adress .link:focus {
  color: #2196f3;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link.current {
  color: var(--accent-color);
}

/* main navigation */
.site-nav list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* adress */

.site-adress list {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* section hero */

.hero-title {
  color: bisque
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

/* section */
.section-title {
  color: var(--title-text-color);
}

/* section work description */
.work-description .title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
}

.work-description .text {
font-size: 14px;
line-height: 1.71;
}

/* section  about us */

.section .register {
color: var(--primary-bg-color);
font-size: 14px;
line-height: 16px;
text-align: center;
text-transform: uppercase;
background: rgba(47, 48, 58, 0.8);
}

/* section-team */

.section-team{
  background-color: #F5F4FA; 
}

.section-team .team {
color: var(--title-text-color);
font-weight: 500;
font-size: 16px;
line-height: 1.18;
}

.section-team .profession {
font-size: 16px;
line-height: 1.18;
}

.list .link:hover,
.list .link:focus{
color: #2196f3;
background-color #2196f3;
}

/* page 2 */
/* section portfolip */

.portfolio-title {
font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
}

.desc {
font-size: 16px;
line-height: 1.875;
font-weight: 400px;
color: #757575;
}

.items .text{
font-weight: 400;
font-size: 18px;
line-height: 1.55;
color: #FFFFFF;
background-color: rgba(33, 150, 243, 0.9);
letter-spacing: 0.03em;
}


/* section footer */

footer{
  background-color: #2F303A;
}
.adress {
font-size: 14px;
line-height: 1.71;
color: #FFFFFF;
font-style: normal;
}

.email, .telephone {
font-size: 14px;
line-height: 1.71;
color: rgba(255, 255, 255, 0.6);
}

.join {
font-weight: bold;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
color: #FFFFFF;
}



h2 {
  font-weight: 700px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
